<div class="card" 
     appHighlight 
     *ngIf="article"
     [ngClass]="{ 'card-framework': article.category === 'Frameworks' }">

  <span class="badge-new" *ngIf="isNew">НОВЕ</span>

  <img [src]="article.imageUrl" [alt]="article.title">
  
  <div class="card-content">
    <h3>{{ article.title }}</h3>

    <p>{{ article.summary | truncate:60 }}</p>

    <small>{{ article.category }} - {{ article.date | date: 'dd.MM.yyyy' }}</small>
    
    <button [routerLink]="['/items', article.id]">Детальніше</button>
  </div>
</div>