
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'ngx-toastr/toastr';
body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
  font-family: 'Roboto', sans-serif; 
  background-color: #f4f7f6; 
  color: #333;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}